.homeRow {
    margin: 10px 0;
}
.homeZipUploader {
    width: 130px;
    height: 50px;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
}

.homeZipUploader:hover {
    cursor: pointer;
}

.homeZipUploader:active {
    color: #e2e2e2;
}